html, body, header, #intro{
    height: 100%;
}
#intro{
    background: url(https://images.pexels.com/photos/1055613/pexels-photo-1055613.jpeg) no-repeat center center fixed;
    background-size: cover;
}
.top-nav-collapse{
    background-color: #536e40;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

@media (max-width: 768px){
    .navbar:not(.top-nav-collapse){
        background-color: #536e40;
    }
}
